body{
              background: url(pics/nature1.jpg)  no-repeat center center fixed;
              background-size: cover;
              -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
             
          }
.home
{
    margin:20px 0px 0px 20px;
}
.log-out{
    float: right;
    margin-right: 20px;
    font-weight: bold;
    color:black !important;
}
.head{
    padding-top: 30px;
    margin-top: 30px;
    height:600px !important;
    border-radius:25px;
    background-color: white;
}
.per{
    margin-left: 30px;
}

#cart{
    margin-left: 20px; 
}
.name{
    font-weight: bold;
    width:100px;
    float: left;
    margin-left: 40px;
    margin-bottom: 20px;
}
.names
{
    clear: both;
    margin-left: 40px;
    width:800px;
    height:700px;
}
.info
{
    width:100px;
    float:left;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 30px;
    
    
}

.info_head{
    clear:both;
    margin-bottom: 5px;
}
.sum
{
    clear: both;
    position: relative;
    left:300px;
}